* {
  box-sizing: border-box;
  text-align: center;
  color: grey;
}

#container {
  margin: 50px auto;
  background-color: lightgrey;
  border: solid grey 1px;
  display: flex;
  flex-wrap: wrap;
}

/* Desktop view */
@media screen and (min-width: 992px){
  body {
    background-color: lightcyan;
  }

  #container {
    height: 700px;
    max-width: 964px;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 991px){
  body {
    background-color: lightpink;
  }

  #container {
    height: auto;
    max-width: 90%;
  }
}


/* Mobile view */
@media screen and (min-width: 480px) and (max-width: 767px){
  body {
    background-color: lightcoral;
    width: auto;
  } 

  #container {
    width: 90%;
    height: auto;
  }
}

