/* 
Each box should have a unique background color in mobile view and in desktop view. We are not working with jQuery events yet, so these changes should be observed when the screen size changes and the page is refreshed. */

* {
  box-sizing: border-box + 3px;
  text-align: center;
  color: grey;
}

#container {
  margin: 50px auto;
  background-color: lightgrey;
  border: solid grey 1px;
}

/* Desktop view */
@media screen and (min-width: 768px){
  body {
    background-color: lightcyan;
  }

  #container {
    height: 700px;
    max-width: 964px;
  }
}
/* Mobile view */
@media screen and (min-width: 480px) and (max-width: 767px){
  body {
    background-color: lightcoral;
    width: auto;
  } 

  #container {
    width: 480px;
    height: 1055px;
  }
}